body{
	text-align: center;
}

a{
	color: none;
	text-decoration: none;
}

#principal{
	width: 600px;
	text-align: left;
	margin: 0px auto;
}

#principal *{
	min-height: 50px;
	margin: 2px 0px;
	background-color: #B9C7F5;
}

#principal footer{
	text-align: center;
}

